# Про pandas, ключи и индексы
Задача - определить есть ли в наборе значений заданное

In [1]:
data_list = list(range(10000))

In [2]:
data_list[:5]

[0, 1, 2, 3, 4]

In [3]:
if 5000 in data_list:
    print('Ура нашел!')

Ура нашел!

Время поиска зависит от того какой именно элемент вы ищете: первый, из середины или в конце

In [4]:
%%time

for _ in range(10**5):
    if 9000 in data_list:
        pass

Wall time: 18.1 s

### Заменим список на множество

In [5]:
set([1, 2, 2, 2, 3])

{1, 2, 3}

In [6]:
data_set = set(range(10000))

In [7]:
type(data_set)

set

In [8]:
%%time

for _ in range(10**5):
    if 9000 in data_set:
        pass

Wall time: 14 ms

### Усложним задачу - в таблице из пяти столбцов найти нужную строчку.

In [9]:
import pandas as pd

In [10]:
table = pd.read_csv('data.tsv', sep='\t')
table.head()

         date  category  campaign_id  slice  value
0  2020-11-21        59           26      3    688
1  2020-10-13        30           22      3    281
2  2020-07-24        80           24      9    266
3  2020-11-06        50           37      9     29
4  2020-02-21        70           50      7     25

In [11]:
table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

           date  category  campaign_id  slice  value
499  2020-12-06        70            3      3    666

In [12]:
%%time

for _ in range(10**4):
    table[(table.date=='2020-12-06') & (table.category==70) & (table.campaign_id==3) & (table.slice==3)]

Wall time: 15.1 s

In [13]:
len(table)

1000

Аналогичный расчет для списков

In [ ]:
with open('data.tsv') as f:
    next(f)
    table = [x.strip().split('\t') for x in f.readlines()]

In [ ]:
table[:2]

In [ ]:
line_to_search = ['2020-12-06', '70', '3', '3']

In [ ]:
%%time

for _ in range(10**4):
    [x for x in table if x[:4] == line_to_search]

Можно побыстрее? Преобразуем список в словарь.

In [ ]:
tuple_to_search = ('2020-12-06', '70', '3', '3')

In [ ]:
%%time
dict_ = {}

for line in table:
    key = tuple(line[:4])
    value = line[4]
    
    dict_[key] = value

In [ ]:
dict_[('2020-12-06', '70', '3', '3')]

In [ ]:
%%time

for _ in range(10**4):
    dict_[tuple_to_search]